@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 173, 218);
    font-family: 'Open Sans';
    color: black;
}

/* = = = HEADER = = = */
header{
    display: flex;
    flex-direction: column;
}

.logo-he4rt{
    width: 300px;
    margin-left: 15%;
    margin-top: 20px;
}