@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    background-color: rgb(192, 173, 218);
    font-family: sans-serif;
}

.navbar{
    height: 200px;
    display: flex;
}
.navbar-logo{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}