@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 173, 218);
    font-family: 'Noto Sans SC';
    color: black;
}

/* = = = HEADER = = = */
a{
    color:rgb(109, 63, 168);
    text-decoration: none;

}

header{
    display: flex;
    flex-direction: column;
}

.logo-he4rt{
    width: 300px;
    margin-left: 15%;
    margin-top: 20px;
}

.credits{
    position: absolute;
    margin-top: 4.5%;
    margin-left: 80%;
    font-weight: 100%;
    color: whitesmoke;
}